.row{margin-top: 1px;}
.card{
    overflow: hidden;
}
.avatar-title{
 z-index: 1000;
 box-shadow: rgba(0, 0, 0, 0.548) 0px -50px 36px -28px inset;
 width: 100%;
}
.avatar:hover{
    transition: 200ms ease-in;
    transform: scale(1.1);
}
#map{
    height: 60vh;
}
.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}
.stone{
    width: 100px;
    height: 100px;
}
.blur{
    background-color: rgba(255, 255, 255, 0.15) !important; /* Adjust the transparency as needed */
    backdrop-filter: blur(10px); /* Adjust the blur strength as needed */
    border-radius: 10px; /* Adjust the border radius as needed */

}
